* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calcuator {
  display: flex;
  /* flex-direction: column-reverse; */
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: aqua; */
  /* margin-top: 300px; */
}

/* .display{
   
} */

input {
  width: 20%;
  /* height: 100vh; */
  /* height: 60px; */
  padding: 45px;
  font-size: 22px;
  border-radius: 5%;
  margin: 10px 2px;
  /* margin-left: 40px; */
  box-shadow: 1px 10px 31px 8px rgba(0,0,0,1);
  -webkit-box-shadow: 1px 10px 31px 8px rgba(0,0,0,1);
  -moz-box-shadow: 1px 10px 31px 8px rgba(0,0,0,1);
  border: none;
}

form {
  width: 30%;
  margin-top: 70px;
  background-color: rgb(113, 197, 218);
  border-radius: 5%;
  /* height: 100vh; */
}

.display {
  width: 125vw;
 
}

.display input {
  font-size: 40px;
  font-style: italic;
  display: flex;
text-align: right;
margin-left: 40px;
  width: 20%;
  height: 10px;
  padding: 40px;
  border-radius: 10px;
}

.btn{
    margin-left: 60px;
}

@media screen and (max-width: 576px) {
    body {
        width: 100vw;
        overflow: hidden;
      }

form{
    width: 100%;
    margin-top: 20px;
    /* height: 100vh; */
}
input{
    padding: 10px;
    /* width: 30%; */
}

.display input{
    font-size: 20px;
    width: 65%;
    padding: 30px;
   
}
.btn{
    margin-left: 40px;
}



    
}
